h1{font-size: 220px;}
h2, .h2{font-size: 84px;}
h3{font-size: 56px;}
address{font-style: normal; font-weight: bold; cursor: pointer;}
.big{font-size: 40px;}
.medium{font-size: 24px;}
.text{font-size: 20px;}
.small{font-size: 16px;}
.mini{font-size: 14px;}
.bb{font-weight: 900;}
.b{font-weight: 700;}
.sb{font-weight: 600;}
.mb{font-weight: 500;}
.n{font-weight: 400;}

.body_wrap{background-color: #000; color: #fff; overflow: hidden;}
body.en .body_wrap{line-height: 1; letter-spacing: -.6px;}
.header{position: fixed; width: 100%; height: 60px; display: flex; gap: 20px; justify-content: space-between; padding: 20px 60px; width: 100%; background-color: #fff; color: #000; text-align: center; z-index: 1; transition: transform 0.3s ease-in-out; will-change: transform;}
.header.hide {transform: translateY(-100%);}
.header h1{font-size: 20px;}
.header div{display: flex; align-items: center; gap: 12px; cursor: pointer;}
.header ul{display: flex; align-items: center; gap: 12px;}
.lang_btn{padding: 4px 8px; border-radius: 4px; border: 1px solid #000;}
button, a{cursor: pointer;}
section{gap: 60px;}
section.white{background-color: #fff;}
.label{color: yellow;}
section.white .label, section.grey .label{color: #000;}
section.white h1, section.white h2, section.white h3, section.white p{color: #000;}
.grey{background-color: #f1f1f1; color: #000;}
.title{display: flex; flex-direction: column; gap: 12px;}
.mo_hidden{display: block;}
.mo_block{display: none !important;}

@media all and (max-width: 1440px){
	h1{font-size: 180px;}
	h2, .h2{font-size: 76px;}
}

@media all and (max-width: 1280px){
	h2, .h2{font-size: 68px;}
	h3{font-size: 48px;}
	.big{font-size: 32px;}
	.medium{font-size: 22px;}
	.text{font-size: 18px;}
	.small{font-size: 16px;}
	.mini{font-size: 14px;}

	.header{padding: 20px 40px;}
	.header h1{font-size: 18px;}
}
@media all and (max-width: 1024px){
	h1{font-size: 180px;}
	h2, .h2{font-size: 56px;}
	h3{font-size: 40px;}
	.big{font-size: 30px;}
	.medium{font-size: 20px;}
	.text{font-size: 18px;}
	.small{font-size: 16px;}
	.mini{font-size: 14px;}

	.header{padding: 20px 20px;}
	.title{gap: 8px;}
	.mo_hidden{display: none;}
	@media all and (max-height: 800px){
		h1{font-size: 140px;}
	}
}
@media all and (max-width: 768px){
	h1{font-size: 140px;}
	h2, .h2{font-size: 44px;}
	h3{font-size: 40px;}
	.big{font-size: 28px;}
	.medium{font-size: 20px;}
	.text{font-size: 18px;}
	.small{font-size: 16px;}
	.mini{font-size: 14px;}

	.header h1{font-size: 18px;}
	section{gap: 40px;}
	
	.title{gap: 12px;}
}
@media all and (max-width: 480px){
	h1{font-size: 80px;}
	h2, .h2{font-size: 36px;}
	h3{font-size: 24px;}
	.big{font-size: 22px !important;}
	.medium{font-size: 18px;}
	.text{font-size: 16px;}
	.small{font-size: 14px;}
	.mini{font-size: 12px;}

	.header{padding: 20px 16px;}
	.header h1{font-size: 16px;}
	section{gap: 28px;}
	.mo_hidden{display: none;}
	.mo_block{display: block !important;}
	.title{gap: 4px;}
}