.body_wrap{padding: 80px calc((100% - 1280px) / 2); background-color: #fff; color: #000; display: flex; align-items: flex-start; gap: 40px; overflow: visible; background-color: #f1f1f1;}

section.left_section{position: sticky; top: 80px; left: 0; padding: 40px; width: 32%; background-color: #000; color: #fff;}
section.left_section article:nth-child(2){padding: 20px 0; margin: 20px 0; border-top: 1px solid #fff; border-bottom: 1px solid #fff;}
section.left_section h3{margin-bottom: 12px;}
section.left_section a{color: yellow;}
section.left_section ul{display: flex; flex-direction: column; gap: 12px;}
section.left_section p.small{margin-bottom: 4px; color: yellow;}
a.home{display: flex; align-items: center; justify-content: center; position: absolute; bottom: -48px; right: 0; width: 40px; height: 40px; border-radius: 8px; color: #fff !important; background-color: #000;}

section.right_section{width: 68%;}
section.right_section article{padding: 60px 0; border-bottom: 1px solid #000;}
section.right_section article:first-child{padding-top: 0;}
section.right_section article:last-child{padding-bottom: 0;  border-bottom: none;}
.content_title{display: flex; align-items: center; gap: 12px; margin-bottom: 20px;}
.content_title span{width: 40px; height: 40px; border-radius: 40px; font-size: 28px; display: flex; align-items: center; justify-content: center; background-color: yellow; border: 2px solid #000;}
article.content2 > div{margin-bottom: 40px; border-radius: 8px; border: 1px solid #000; background-color: #000; overflow: hidden;}
article.content2 > div:last-child{margin-bottom: 0;}
article.content2 img{width: 100%; object-fit: cover;}
article.content2 div.flow{overflow-x: auto;}
article.content2 div.flex{display: flex; justify-content: space-between; gap: 8px;}
article.content2 div.flex img.for_pc{width: calc(80% - 4px);}
article.content2 div.flex img.for_mo{width: calc(20% - 4px);}
article.content2 p.text{position: relative; padding: 12px 12px 12px 36px; color: #fff;}
article.content2 p.text::before{content: ''; position: absolute; top: 14px; left: 12px;  width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 16px solid yellow;}

article.content3 p.text{display: flex; flex-direction: column; gap: 8px; align-items: flex-start;}
article.content3 p.text:nth-child(2){margin-bottom: 20px;}
article.content3 p.text span{width: max-content; padding: 4px 8px; background-color: #000; color: #fff; text-align: center;}

article.content4 p.text{position: relative; padding-left: 12px; margin-bottom: 8px;}
article.content4 p.text:last-child{margin-bottom: 0;}
article.content4 p.text::before{content: ''; position: absolute; top: 8px; left: 0; width: 4px; height: 4px; border-radius: 4px; background-color: #000;}

.link_btn {position: relative; display: flex; align-items: center; gap: 12px; overflow: hidden; transition: 0.4s all ease-in-out;}
.link_btn span.linktext {display: inline-block; transition: transform 0.4s ease, opacity 0.4s ease; transform: translateY(0); opacity: 1;}
.link_btn span.arrow {width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; border-radius: 60px; font-size: 44px; background-color: #000; color: #fff; transition: background 0.4s ease, color 0.4s ease;}
.link_btn::after {content: "프로젝트 바로가기"; position: absolute; left: 0; bottom: -100%; color: #000; transition: bottom 0.4s ease, opacity 0.4s ease; opacity: 0;}
.link_btn:hover span.linktext {transform: translateY(-100%); opacity: 0;}
.link_btn:hover span.arrow{background: linear-gradient(168deg,rgba(255, 233, 38, 1) 0%, rgba(221, 255, 0, 1) 100%); color: #000;}
.link_btn:hover::after {bottom: 0; opacity: 1;}
.link_btn:not(:hover) span.linktext {transform: translateY(0); opacity: 1;}



@media all and (max-width: 1280px){
    .body_wrap{padding: 80px calc((100% - 1024px) / 2);}


    section.left_section{width: 40%;}
    section.right_section{width: 60%;}
}
@media all and (max-width: 1024px){
    .body_wrap{flex-direction: column; padding: 40px 20px 60px !important;}
    section.left_section{position: relative !important; width: 100%; top: 0 !important;}
    section.left_section br{display: none;}
    a.home{position: fixed; bottom: 20px; right: 20px; z-index: 1; }
    section.right_section{width: 100%;}
    section.right_section article{padding: 40px 0;}
    article.content2 > div{margin-bottom: 28px;}
    /* article.content2 div.flex{flex-direction: column; gap: 16px;}
    article.content2 div.flex img:first-child{width: calc(80% - 8px);}
    article.content2 div.flex img:last-child{width: calc(20% - 8px);} */
}
@media all and (min-width: 1024px) and (min-height: 600px) and (max-height: 800px){
    .body_wrap{padding: 40px calc((100% - 1024px) / 2);}
    section.left_section{top: 40px; padding: 28px;}
    section.left_section p.medium{font-size: 18px;}
    h3{font-size: 40px;}
    p.big{font-size: 32px;}
}

@media all and (max-width: 840px){
    article.content2 div.flex{width: 1024px; }
}
@media all and (max-width: 480px){
    .body_wrap{padding: 20px 16px 40px !important; gap: 28px;}

    section.left_section{padding: 20px;}
    a.home{right: 16px;}
    .content_title{margin-bottom: 20px; gap: 8px;}
    .content_title span{width: 24px; height: 24px; border-radius: 24px; font-size: 16px;}
    section.left_section a br{display: block;}
    section.right_section article{padding: 28px 0;}
    article.content2 > div{margin-bottom: 20px;}
    article.content2 div.flex{width: 768px;}
    article.content3 p.text{flex-direction: column; gap: 4px;}
    article.content3 p.text:nth-child(2){margin-bottom: 12px;}

    .link_btn{gap: 8px;}
    .link_btn span.arrow{width: 32px; height: 32px; border-radius: 32px; font-size: 24px;}
}